version: '3'
services:
  mailhog:
    image: 'mailhog/mailhog'
    ports:
      - '8025:8025'
  db:
    image: mariadb:10.7
    ports:
      - "3308:3306"
    command: >
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_bin
      --innodb_file_per_table=On
      --wait-timeout=28800
      --skip-log-bin
    environment:
      MARIADB_ROOT_PASSWORD: password
      MARIADB_DATABASE: moodle
      MARIADB_USER: moodle
      MARIADB_PASSWORD: password
    volumes:
      - persistent:/var/lib/mysql
  moodle:
    build:
      context: ./moodle
      args:
        - MOODLE_VERSION=v4.3.0
    environment:
      - MOODLE_DBTYPE=mariadb
      - MOODLE_DBHOST=db
      - MOODLE_DBNAME=moodle
      - MOODLE_PREFIX=mdl_
      - MOODLE_DBPORT=3306
      - MOODLE_DBUSER=moodle
      - MOODLE_DBPASSWORD=password
      - MOODLE_WWWROOT_URL=http://localhost:8080
      - MOODLE_SMTPHOSTS=mailhog:1025
    ports:
      - '8080:80'
    volumes:
      - './moodle/php.ini:/usr/local/etc/php/php.ini'
      - './moodle/config.php:/var/www/html/config.php'
      - './container-volumes/moodledata_data:/var/www/moodledata'
      - './container-volumes/phpunitdata_data:/var/www/phpunitdata'
      - '../block_myblockexample:/var/www/html/blocks/myblockexample'
    depends_on:
      - db
volumes:
  persistent:
